{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Start</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>

                {% if user.is_authenticated %}

                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
               
                {% else %}

                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>


                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav> -->

<div class="d-flex justify-content-center container">
    <div class="container">
    <div class="">
        <!-- Category -->
        <div class="" style ="max-width: 300px;">
            <div class ="single category">
            <h3 class="side-title">Category</h3>
            <ul class="list-unstyled">
                {% for category in categories %}

                <li><a href="{% url 'category' category.id %}" title="">{{category.name}} <span class="pull-right">{{ category.product_count }}</span></a></li>

                {% endfor %}
            </ul>
       </div>
    </div> 
    </div>
    </div>
1

    <section class="py-5" style ="max-width: 1000px;">
        <div class="">
            <div class="row row-cols-xl-4 justify-content-center">
            
                {% for Product in products %} 
                <div class="col">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ Product.image.url }}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ Product.name }}</h5>
                                <!-- Product price-->
                                {{ Product.price }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' Product.id %}">View Details</a></div>
                       </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>    
    </section>
    {% endblock %}