{% extends 'base.html' %} 
{% block content %}
{% include 'nav.html' %}
       <!-- Navigation-->
       <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'home' %}">Start</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>

                    {% if user.is_authenticated %}

                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                   
                    {% else %}

                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    
                    <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>


                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav> -->
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">sign up</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
<div class="container">
  <form method="POST">
    {% if  msg %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error!</strong> {{msg2}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="fname"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="lname"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>Already have an account</p>
    <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
</div>
{% endblock %}
